<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018668404314-48kh91dqlr2vadsh960u960nr7akbo2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018668404314-48kh91dqlr2vadsh960u960nr7akbo2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBxXPgjZtKHW7UKNZEr3iO0qWFA3ZEQNyE</string>
	<key>GCM_SENDER_ID</key>
	<string>1018668404314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthensure</string>
	<key>PROJECT_ID</key>
	<string>healthensure-4c0a8</string>
	<key>STORAGE_BUCKET</key>
	<string>healthensure-4c0a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018668404314:ios:fb3e7fa16eec3d030a5263</string>
</dict>
</plist>